body {
    background-color: hsl(212, 45%, 89%);
    font-family: outfit;
    font-size: 15px
}

.container {
    box-shadow: 4px 3px 3px 3px lightgray;
    border-radius: 20px;
    margin: 10% auto 15% auto;
    width: 310px;
}

.img-rounded {
    border-radius: 10px;
}